<div class="flex content justify-end">
    <div class="flex justify-around">
        <img src="/assets/images/home-bg-variant.png" alt="Preview image"/>
        <div class="flex justify-center gap-20 p-10 flex-col">
            <div class="flex flex-col gap-2">
                <h1 class="font-bold text-4xl">Welcome, to makeup shop!</h1>
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ex id modi odio odit quaerat quam ullam!
                    Expedita hic numquam quasi suscipit voluptate. Asperiores illo nesciunt odio porro vel veritatis!
                    Accusantium, animi, assumenda blanditiis consequuntur delectus doloribus eaque eveniet expedita illo in
                    iste laboriosam libero magnam magni modi molestiae molestias necessitatibus nihil quam quasi quod
                    ratione
                    soluta vero voluptate.
                </h2>
            </div>
            <a class="w-1/4" mat-raised-button routerLink="/catalogue" color="primary">Catalogue</a>
        </div>
    </div>
</div>

